td {text-align: center;}

@font-face {
  font-family: Tengwar Annatar;
  src: local("Tengwar Annatar"), url(font/tngan.ttf) format("opentype");

}

@font-face {
  font-family: Tengwar-Italic;
  src: local("Tengwar Annatar, Italic"), url(font/tngani.ttf) format("opentype");

}


/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : 200%    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : 300% }

.tengwar {font-family: Tengwar Annatar;}

.tengwar-it {font-family: Tengwar-Italic;}

body, ul, p {
    font-family:  Lato, Helvetica, Arial, sans-serif;
    font-size:  18px;
    line-height: 1.5;
    font-weight: 400;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
}

